<div class="flex flex-col justify-center items-center font-[sans-serif] bg-white md:h-screen">
    <div class="grid md:grid-cols-2 items-center gap-y-8 max-w-7xl w-full shadow-[0_2px_13px_-6px_rgba(0,0,0,0.4)] m-6 rounded-xl relative overflow-hidden">
        <div class="max-md:order-1 md:block hidden p-4 bg-gray-50 h-full ">
            <img src="https://readymadeui.com/signin-image.webp" class="lg:max-w-[90%] w-full h-full object-contain block mx-auto" alt="login-image" />
        </div>

        <div class="flex items-center p-6 max-w-md w-full h-full mx-auto">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-full">
                <div *ngIf="currentStep === 1">
                    <h3 class="text-blue-500 lg:text-3xl text-2xl font-extrabold max-md:text-center mb-12">Create an account</h3>
                    <div>
                        <label class="text-gray-500 text-sm font-semibold block mb-3">First Name</label>
                        <div class="relative flex items-center">
                            <input formControlName="firstName" name="firstName" type="text" required class="w-full bg-transparent text-sm text-gray-800 border-2 focus:border-blue-500 pl-4 pr-12 py-3.5 outline-none rounded-xl" placeholder="Enter first name" />
                        </div>
                    </div>
                    <div class="mt-12">
                        <button type="button" (click)="nextStep()" class="w-full shadow-xl py-3.5 px-8 text-sm tracking-wide font-semibold rounded-xl bg-blue-500 hover:bg-blue-600 text-white border focus:outline-none transition-all">
                            Next Step
                        </button>
                    </div>
                </div>

                <div *ngIf="currentStep === 2">
                    <h3 class="text-blue-500 lg:text-3xl text-2xl font-extrabold max-md:text-center mb-12">Enter Last Name</h3>
                    <div>
                        <label class="text-gray-800 text-sm font-semibold block mb-3">Last Name</label>
                        <div class="relative flex items-center">
                            <input formControlName="lastName" name="lastName" type="text" required class="w-full bg-transparent text-sm text-gray-800 border-2 focus:border-blue-500 pl-4 pr-12 py-3.5 outline-none rounded-xl" placeholder="Enter last name" />
                        </div>
                    </div>
                    <div class="mt-12">
                        <button type="button" (click)="nextStep()" class="w-full shadow-xl py-3.5 px-8 text-sm tracking-wide font-semibold rounded-xl bg-blue-500 hover:bg-blue-600 text-white border focus:outline-none transition-all">
                            Next Step
                        </button>
                    </div>
                </div>

                <div *ngIf="currentStep === 3">
                    <h3 class="text-blue-500 lg:text-3xl text-2xl font-extrabold max-md:text-center mb-12">Create Username and Password</h3>
                    <div>
                        <label class="text-gray-800 text-sm font-semibold block mb-3">Username</label>
                        <div class="relative flex items-center">
                            <input formControlName="username" name="username" type="text" required class="w-full bg-transparent text-sm text-gray-800 border-2 focus:border-blue-500 pl-4 pr-12 py-3.5 outline-none rounded-xl" placeholder="Enter username" />
                        </div>
                    </div>
                    <div class="mt-4">
                        <label class="text-gray-800 text-sm font-semibold block mb-3">Password</label>
                        <div class="relative flex items-center">
                            <input formControlName="password" name="password" type="password" required class="w-full bg-transparent text-sm text-gray-800 border-2 focus:border-blue-500 pl-4 pr-12 py-3.5 outline-none rounded-xl" placeholder="Enter password" />
                        </div>
                    </div>
                    <div class="mt-12">
                        <button type="submit" class="w-full shadow-xl py-3.5 px-8 text-sm tracking-wide font-semibold rounded-xl bg-blue-500 hover:bg-blue-600 text-white border focus:outline-none transition-all">
                            Create Account
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="absolute -top-6 -right-6 w-20 h-20 rounded-full bg-blue-400 max-sm:hidden"></div>
    </div>
</div>